<% this.title = '用户组'; %>
<% include header %>
<table class="ui center aligned celled table">
<thead>
  <tr>
    <th>名称</th>
    <th>等级</th>
    <th width="50px">删除</th>
  </tr>
</thead>

<tbody>
  <% for (let i = 0; i < groups.length; i++) { %>
    <tr>
      <td>
        <a href="/ranklist/group/<%= groups[i].group_id %>" class="ui tiny <%= groups[i].color %> label">
          <%= groups[i].name %>
        </a>
      </td>
      <td><%= groups[i].level %></td>
      <td>
        <a onclick="$('#modal-remove-<%= i %>').modal('show');" style="color: #000; " href="#"><i class="remove icon"></i></a>
        <div class="ui basic modal" id="modal-remove-<%= i %>">
          <div class="ui icon header">
            <i class="remove icon"></i>
            <p style="margin-top: 15px; ">删除用户组</p>
          </div>
          <div class="content" style="text-align: center; ">
            <p>确认删除该用户组吗？</p>
          </div>
          <div class="actions">
            <div class="ui red basic cancel inverted button">
              <i class="remove icon"></i>
              否
            </div>
            <a class="ui green ok inverted button remove_link" href-post="<%= syzoj.utils.makeUrl(['user', user.id, 'group', 'delete', groups[i].group_id]) %>">
              <i class="checkmark icon"></i>
              是
            </a>
          </div>
        </div>
      </td>
    </tr>
  <% } %>
</tbody>
</table>

<form class="ui form" action="<%= syzoj.utils.makeUrl(['user', user.id, 'group']) %>" method="post">
  <div class="two fields">
    <div class="field">
      <label>名称</label>
      <div class="ui search">
      <input class="prompt" type="text" id="name" name="name" placeholder="组名称">
      <div class="results" style="width: 100%; "></div>
      </div>
    </div>
    <div class="field">
      <label>等级</label>
      <select class="ui dropdown" name="level">
        <option value="0" >0（可以看题）</option>
        <option value="1" selected>1（可以下载数据）</option>
        <option value="2" >2（可以管理题目）</option>
      </select>
    </div>
  </div>
  <div style="text-align: center; ">
  <button type="submit" class="ui labeled submit blue icon button">
    <i class="icon edit"></i> 添加
  </button>
  <a href="<%= syzoj.utils.makeUrl(['user', user.id]) %>" class="ui labeled icon button"><i class="ui angle left icon"></i>返回</a>
  </div>
</form>
<script>
$(function () {
  $('.ui.dropdown:not(.simple)').dropdown();
});
$(function () {
  $('.ui.search').search({
    debug: true,
    apiSettings: {
      url: '/api/v2/search/groups/{query}',
      cache: false
    },
    fields: {
      title: 'name'
    }
  });
});
</script>
<% include footer %>
